*{
    margin: 0;
    padding: 0;
    font-family: Bahij_Arabic_plain;
}
.clear_fix{
    clear: both;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
@font-face {
    font-family: Bahij_Arabic_plain;
    src: url("../../css/fonts/Bahij TheSansArabic-Plain.ttf");
}
body{
    font-family: Bahij_Arabic_plain;
}
//******************************
.about{
    .abouut_noon{
        background: #e81377;
        height: 260px;
            h2{
                color: #ffffff;
                margin: 15% 14%;
                font-size: 50px;
            }
    }
    .noon_description{
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.07);
        padding: 4% 5%;
        color:#8f8f8f;
        margin-top: 118px;
        margin-left: -80px;
        height: 260px;
        h2{
            color:#6b478f;
        }
    }
    .noon_description:before{
        position: absolute;
        z-index: -1;
        background: #6b478f;
        height: 100%;
        content: '';
        width: 99%;
        bottom: -13px;
        left: 19px;
    }
    .noon-img{
        .about_image{
            background: url("../../img/about_us/gathering.png");
            background-repeat: no-repeat;
            background-size: 340px 217px;
            background-position: center;
            margin-left: -38px;
            height: 340px;

        }
        .about_image:before{
            position: absolute;
            z-index: -1;
            background: #e81377;
            height: 80px;
            content: '';
            width: 46%;
            bottom: 369px;
            left: 126px;
        }
        .noon_image{
            background: url("../../img/Global/navbar-logo.jpg");
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid rgba(0, 0, 0, 0.07);
            background-color: #fff;
            height: 140px;
            margin: 13px -10px 13px 40px;

        }
        .noon_image:before{
            position: absolute;
            z-index: -1;
            background: #e81377;
            height: 80px;
            content: '';
            width: 55%;
            bottom: 1px;
            left: 95px;
        }

    }

}
.vision{
    background: url("../../img/about_us/layer-10-copy.png");
    margin-right: 14%;
    width: 78%;
    .row{
        color:#fff;
        background: rgba(107,71,143,0.79);
        padding: 7% 5%;

    }
}
.message{

    .row{
        // width: 95%;
        .our_message{
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.07);
            color:#8f8f8f;
            padding: 4% 4% 6% 4%;
            margin-top: 6%;
            h2{
                color:#6b478f;
            }
            margin-bottom: 20%;
        }
        .our_message:before{
            position: absolute;
            z-index: -1;
            background: #6b478f;
            height: 316px;
            content: '';
            width: 100%;
            bottom: -11px;
            left: 16px;
        }
        .left_noon{
            .image{
                background: url("../../img/about_us/gathering.png");
                height: 292px;
                width:135%;
            }
            .image:before{
                position: absolute;
                z-index: -1;
                background: #e81377;
                height: 80px;
                content: '';
                width: 25%;
                bottom: 521px;
                left: 281px;
            }
            .image:after{
                position: absolute;
                z-index: -1;
                background: #6b478f;
                height: 75px;
                content: '';
                width: 60%;
                bottom: 323px;
                left: 16px;
            }

        }
    }

}
.noon{
    .inner{
        background: url("../../img/about_us/noon white.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #e81377;
        height: 190px;
        width:270px;
        margin-top: -22%;
        margin-left: 16%;
    }
    .inner:after{
        position: absolute;
        z-index: -1;
        background: #6b478f;
        height: 32px;
        content: '';
        width: 97%;
        bottom: -8px;
        left: -9px;
    }
}
