<!--
  - Mostafa El Menshawy
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/Global/navbar.css">
  <link rel="stylesheet" href="../../css/Global/footer.css">
  <link rel="stylesheet" href="../../css/Global/font.css">
  <link rel="stylesheet" href="../../css/about_Us/about_us.css">
  <title>About Us</title>
</head>

<body>
<!-------------------------------------------Header Start------------------------------------------------------------------------->
<div class="header-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 offset-md-9 col-sm-3 offset-sm-9 ">
        <label class="date">Tue 11:04 PM</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12" style="height: 40px;">
        <img src="../../img/Global/navbar-logo.jpg">
      </div>
      <div class="col-md-4 offset-md-2 offset-sm-12 flex-container">
        <div class="row search-div">
          <div class="search">Search</div>
          <div><input class="search-part" name="search" ></div>
          <div><button class="search-btn" type="submit"><i class="fa fa-search search-icon"></i></button></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-8">
        <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
        <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
        <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
        <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus mr-1"></a>
        <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
        <a href="#" class="share-icon-c share fa fa-ellipsis-h"></a>
        <a href="#" class="share-icon-c share sing">Sign Up</a>
        <span class="vertical-line"></span>
        <a href="#" class="share-icon-c share sing">Login</a>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------Header END------------------------------------------------------------------------------->
<!-------------------------------------------Navbar Start------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark customized-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../../views/Home/Homepage.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu dd1-padding">
              <a class="nested-list-link" tabindex="-1" href="#" >Football<span class="caret"></span></a>

              <ul class="dropdown-menu second-dropdown">
                <li tabindex="-1" class="my-sport">Football</li>
                <li class="dropdown-submenu"><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>

                  <ul class="dropdown-menu posts-dropdown">
                    <li class="post-li">
                      <div class="row">
                        <div class="card-padding col-md-6 col-sm-12 col-overwritting">
                          <div class = "section_card small_card">
                            <img class="section_card_img"
                                 src="../../img/media/little-girl.png"
                                 srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"/>
                            <div class ="-min-ago">1 min ago</div>
                            <div class ="section-card-title">
                              Lorem Ipsum is simply dummy text of
                            </div>
                            <div class="more">
                              <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                              <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                              <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                              <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
                              <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                              <a href="../../views/PostDetails/PostDetails.html" class="read_more">Read More &rarr;</a>
                            </div>
                          </div>
                        </div>
                        <div class="card-padding col-md-6 col-sm-12" >
                          <div class = "section_card small_card"  >
                            <img class="section_card_img"
                                 src="../../img/media/little-girl.png"
                                 srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"/>
                            <div class ="-min-ago">1 min ago</div>
                            <div class ="section-card-title">
                              Lorem Ipsum is simply dummy text of
                            </div>
                            <div class="more">
                              <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                              <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                              <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                              <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
                              <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                              <a href="../../views/PostDetails/PostDetails.html" class="read_more">Read More &rarr;</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>

                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <ul class="dropdown-menu posts-dropdown">
                    <li class="post-li">
                      <div class="row">
                        <div class="card-padding col-md-6 col-sm-12 col-overwritting">
                          <div class = "section_card small_card">
                            <img class="section_card_img"
                                 src="../../img/media/little-girl.png"
                                 srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"/>
                            <div class ="-min-ago">1 min ago</div>
                            <div class ="section-card-title">
                              Lorem Ipsum is simply dummy text of
                            </div>
                            <div class="more">
                              <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                              <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                              <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                              <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
                              <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                              <a href="../../views/PostDetails/PostDetails.html" class="read_more">Read More &rarr;</a>
                            </div>
                          </div>
                        </div>
                        <div class="card-padding col-md-6 col-sm-12" >
                          <div class = "section_card small_card"  >
                            <img class="section_card_img"
                                 src="../../img/media/little-girl.png"
                                 srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"/>
                            <div class ="-min-ago">1 min ago</div>
                            <div class ="section-card-title">
                              Lorem Ipsum is simply dummy text of
                            </div>
                            <div class="more">
                              <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                              <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                              <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                              <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
                              <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                              <a href="../../views/PostDetails/PostDetails.html" class="read_more">Read More &rarr;</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
              </ul>

            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-submenu">
              <a class="nested-list-link" tabindex="-1" href="#">Basketball<span class="caret"></span></a>

              <ul class="dropdown-menu second-dropdown">
                <li tabindex="-1" class="my-sport">Basketball</li>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
              </ul>
            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-submenu" >
              <a class="nested-list-link" tabindex="-1" href="#">Vollyball<span class="caret"></span></a>
              <ul class="dropdown-menu second-dropdown">
                <li tabindex="-1" class="my-sport">Vollyball</li>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
              </ul>
            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-submenu">
              <a class="nested-list-link" tabindex="-1" href="#">Tennis<span class="caret"></span></a>
              <ul class="dropdown-menu second-dropdown">
                <li tabindex="-1" class="my-sport">Tennis</li>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
              </ul>
            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-submenu" >
              <a class="nested-list-link" tabindex="-1" href="#">Swimming<span class="caret"></span></a>
              <ul class="dropdown-menu second-dropdown">
                <li tabindex="-1" class="my-sport">Swimming</li>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
              </ul>
            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-submenu" >
              <a class="nested-list-link" tabindex="-1" href="#">Comabt Sports<span class="caret"></span></a>
              <ul class="dropdown-menu second-dropdown">
                <li tabindex="-1" class="my-sport">Combat Sports</li>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
              </ul>
            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-submenu">
              <a class="nested-list-link" tabindex="-1" href="#">Individual Sports<span class="caret"></span></a>
              <ul class="dropdown-menu second-dropdown">
                <li tabindex="-1" class="my-sport">Individual Sports</li>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                  <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Articles</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="../../views/Media/media.html">Images</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="../../views/Media/media.html">Videos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Magazines</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item shop" ><a class="shop" href="#"><i class="fa fa-shopping-bag"></i>&nbsp;Shop</a></li>
        <li class="nav-item"><a href="../../views/LiveStreaming/LiveStreaming.html" class="liveStream"><span ><i class="fa fa-signal"></i>&nbsp;LiveStream</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<!-------------------------------------------Navbar END------------------------------------------------------------------------------->
  <!--***********************************************About Noon Stat**********************-->
  <section class="about container">
    <div class="row">
      <div class="abouut_noon col-lg-4 col-md-4 col-sm-4 col-12">
        <h2><strong>About</strong><br>Noon</h2>
      </div>
        <div class="col-lg-5 col-md-6 col-sm-5 col-12 noon_description">
            <h2><strong>Noon</strong></h2>
            <div class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quos quam aliquam velit corrupti. Quidem ad molestias quam vitae asperiores modi architecto officiis perspiciatis quos aliquam, eos inventore ducimus? Reprehenderit.
            </div>
          </div>


      <div class=" noon-img col-lg-3 col-md-3 col-sm-4 col-12">
        <div class="row about_image"></div>
        <div class="row noon_image"></div>
      </div>
      <!-- <div class="about_image"></div> -->
      <!-- <div class="noon_image col-lg-1"></div> -->
    </div>
  </section>
  <!--***********************************************About Noon Stat**********************-->

  <!--***********************************************About Noon Stat**********************-->
  <section class="container vision">
    <div class="row">
      <h2>Our Vision</h2>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa libero nisi sit doloribus, illo dolores, aperiam nostrum neque tenetur explicabo suscipit ducimus unde, molestiae esse reiciendis dolorum hic illum corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, neque, dolore accusamus libero necessitatibus at rem saepe pariatur aperiam dolorem consequatur dicta aspernatur facilis quidem debitis veniam animi ad nulla.
      </div>
    </div>
  </section>
  <!--***********************************************About Noon Stat**********************-->

  <!--************************************************Message start************************-->
  <section class="container message">
    <div class="row">
      <div class="left_noon col-lg-3 col-md-4 col-sm-5">
          <div class="image row"></div>

      </div>
      <div class="our_message col-lg-8 col-md-8 col-sm-7">
        <h2>Our Message</h2>
        <div class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perferendis a sunt, libero eius obcaecati deserunt numquam aliquid labore culpa aliquam explicabo ducimus tempore at maxime iure consectetur, officia amet.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores asperiores, voluptatum eligendi adipisci quis, sapiente tenetur nesciunt a necessitatibus culpa magni. Nostrum impedit officiis cum porro, itaque et alias temporibus.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia optio nam hic, iusto ad error deleniti inventore tempora vitae voluptate id, adipisci laudantium magni quaerat modi. Odio at voluptatem rem.
        </div>
      </div>
    </div>
    <div class="noon row">
      <div class="inner col-lg-3 col-md-4 col-sm-6"></div>
    </div>
  </section>

<!-------------------------------------------Footer Start---------------------------------------------->

<!--Footer-->
<footer class="page-footer customized-footer">

  <!--Footer Links-->
  <div class="container text-center">
    <div class="row">
      <!--First column-->
      <div class="col-md-3 col-sm-12">
        <img class="img-div" src="../../img/Global/footer-logo.png"/>
      </div>
      <!--/.First column-->
      <!--Second column-->
      <div class="col-md-1 col-sm-12">
        <h5 class="home">Home</h5>
        <ul class="list-unstyled">
          <li>
            <a class="sport-item" href="../../views/Section_Details/section.html">Football</a>
          </li>
          <li>
            <a class="sport-item" href="../../views/Section_Details/section.html">Basketball</a>
          </li>
          <li>
            <a class="sport-item" href="../../views/Section_Details/section.html">Swimming</a>
          </li>
          <li>
            <a class="sport-item" href="../../views/Section_Details/section.html">Volleyball</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-2 col-sm-12">
        <ul class="list-unstyled second-column">
          <li>
            <a class="sport-item" href="../../views/Section_Details/section.html">Tennis</a>
          </li>
          <li>
            <a class="sport-item" href="../../views/Section_Details/section.html">Combat Sports</a>
          </li>
          <li>
            <a class="sport-item" href="../../views/Section_Details/section.html">Individual Sport</a>
          </li>
        </ul>
      </div>
      <!--third column-->

      <!--Third column-->
      <div class="col-md-3 col-sm-12">
        <h5 class="follow">Follow us</h5>

        <ul class="list-unstyled">

          <li>
            <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
            <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
            <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
            <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
            <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
          </li>
          <li>

            <input class="subscribe-area" type="text" name="Subscribe" placeholder=" Your email address" />
            <button class="subscribe-btn">
              Subscribe
            </button>
          </li>
        </ul>

      </div>
      <!--third column-->

      <!--Fourth column-->
      <div class="col-md-1 col-sm-12">
        <h5 class="about-us">About_Us</h5>
        <ul class="list-unstyled">

          <li>
            <a href="../../views/about_us/about_us.html" class="about-item">Vision</a>
          </li>
          <li>
            <a href="../../views/about_us/about_us.html" class="about-item">Mission</a>
          </li>
          <li>
            <a href="../../views/Contact_Us/Contact_Us.html" class="about-item">Contact</a>
          </li>

        </ul>
      </div>
      <!--Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright copyright">
    Copyright© 2018 FCI-STUDENTS. All rights reserved

  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-------------------------------------------Footer END---------------------------------------------------------------------------->


<script src="../../js/Global/jquery-3.3.1.min.js"></script>
  <script src="../../js/Global/popper.min.js"></script>
  <script src="../../js/Global/bootstrap.min.js"></script>
  <script src="../../js/contact_us/contact_us.js"></script>
  <script src="../../js/Global/navbar-dropdown.js"></script>
</body>

</html>
