<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/Global/navbar.css">
  <link rel="stylesheet" href="../../css/about_Us/about_us.css">
  <title>Document</title>
</head>

<body>
  <!--***********************************************Header Start******************************-->
  <div class="header-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 offset-md-9 col-sm-3 offset-sm-9 ">
          <label class="date">Tue 11:04 PM</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12" style="height: 40px;">
          <img src="../../img/Global/navbar-logo.jpg">
        </div>
        <div class="col-md-4 offset-md-2 offset-sm-12 flex-container">
          <div class="row search-div">
            <div class="search">Search</div>
            <div>
              <input class="search-part" name="search">
            </div>
            <div>
              <button class="search-btn" type="submit">
                <i class="fa fa-search search-icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-8">
          <a href="#" class="share-icon-c share fa fa-facebook"></a>
          <a href="#" class="share-icon-c share fa fa-twitter"></a>
          <a href="#" class="share-icon-c share fa fa-instagram"></a>
          <a href="#" class="share-icon-c fa fa-google-plus-g"></a>
          <a href="#" class="share-icon-c share fa fa-youtube"></a>
          <a href="#" class="share-icon-c share fa fa-ellipsis-h"></a>
          <a href="#" class="share-icon-c share sing">Sign Up</a>
          <span class="vertical-line"></span>
          <a href="#" class="share-icon-c share sing">Login</a>
        </div>
      </div>
    </div>
  </div>
  <!--***********************************************Header End******************************-->
  <!--***********************************************Nav Start******************************-->
  <nav class="navbar navbar-expand-lg navbar-dark customized-navbar">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Sports
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Articles</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Images</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Videos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Magazines</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item shop">
            <a class="shop" href="#">
              <i class="fa fa-shopping-bag"></i>&nbsp;Shop</a>
          </li>
          <li class="nav-item">
            <a href="#" class="liveStream">
              <span>
                <i class="fa fa-signal"></i>&nbsp;LiveStram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--***********************************************Nav End******************************-->
  <!--***********************************************About Noon Stat**********************-->
  <section class="about container">
    <div class="row">
      <div class="abouut_noon col-lg-4 col-md-4 col-sm-4">
        <h2><strong>About</strong><br>Noon</h2>
      </div>
        <div class="col-lg-5 col-md-6 col-sm-5 noon_description">
            <h2><strong>Noon</strong></h2>
            <div class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quos quam aliquam velit corrupti. Quidem ad molestias quam vitae asperiores modi architecto officiis perspiciatis quos aliquam, eos inventore ducimus? Reprehenderit.
            </div>
          </div>


      <div class=" noon-img col-lg-3 col-md-3 col-sm-4">
        <div class="row about_image"></div>
        <div class="row noon_image"></div>
      </div>
      <!-- <div class="about_image"></div> -->
      <!-- <div class="noon_image col-lg-1"></div> -->
    </div>
  </section>
  <!--***********************************************About Noon Stat**********************-->

  <!--***********************************************About Noon Stat**********************-->
  <section class="container vision">
    <div class="row">
      <h2>Our Vision</h2>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa libero nisi sit doloribus, illo dolores, aperiam nostrum neque tenetur explicabo suscipit ducimus unde, molestiae esse reiciendis dolorum hic illum corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, neque, dolore accusamus libero necessitatibus at rem saepe pariatur aperiam dolorem consequatur dicta aspernatur facilis quidem debitis veniam animi ad nulla.
      </div>
    </div>
  </section>
  <!--***********************************************About Noon Stat**********************-->

  <!--************************************************Message start************************-->
  <section class="container message">
    <div class="row">
      <div class="left_noon col-lg-3 col-md-4 col-sm-5">
          <div class="image row"></div>

      </div>
      <div class="our_message col-lg-8 col-md-8 col-sm-7">
        <h2>Our Message</h2>
        <div class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perferendis a sunt, libero eius obcaecati deserunt numquam aliquid labore culpa aliquam explicabo ducimus tempore at maxime iure consectetur, officia amet.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores asperiores, voluptatum eligendi adipisci quis, sapiente tenetur nesciunt a necessitatibus culpa magni. Nostrum impedit officiis cum porro, itaque et alias temporibus.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia optio nam hic, iusto ad error deleniti inventore tempora vitae voluptate id, adipisci laudantium magni quaerat modi. Odio at voluptatem rem.
        </div>
      </div>
    </div>
    <div class="noon row">
      <div class="inner col-lg-3 col-md-4 col-sm-6"></div>
    </div>
  </section>

  <script src="../../js/Global/jquery-3.3.1.min.js"></script>
  <script src="../../js/Global/popper.min.js"></script>
  <script src="../../js/Global/bootstrap.min.js"></script>
  <script src="../../js/contact_us/contact_us.js"></script>
</body>

</html>
