/*- Ismail Ahmed*/
/*- Alaa Atef*/

.main-section-title{
    position:relative;
    height: 100px;
    width: 140px;
    border-bottom-left-radius:70px;
    border-bottom-right-radius:70px;
    background:#efefef;
    margin-bottom: 20px;
}

.main-section-title p{
    position: absolute;
    left: 13%;
    top: 20%;
    color: #6b478f;
    font: 30px BahijTheSansArabic-Plain;
}

.section_title{
    position:relative;
    height: 82px;
    width: 85px;
    border-bottom-left-radius:70px;
    border-bottom-right-radius:70px;
    background:#6b478f;
    margin-bottom: 20px;
}

.section_title p{
    position: absolute;
    left: 25%;
    top: 25%;
    color: white;
    font: 14px BahijTheSansArabic-Plain;
}

/*.section_start{*/
    /*position: relative;*/
/*}*/

/*.section_start a{*/
    /*position: absolute;*/
    /*top: 10%;*/
    /*right: 10%*/
/*}*/

.padding_section{
    padding-bottom: 90px;
}

.margin_section{
    margin-top: 90px;
}

.feature_card {
    border: solid 1px rgba(0, 0, 0, 0.06);
    padding: 25px;
    margin-bottom: 25px;
    max-width: 500px;
}

.feature_card_img {
    width: 100%;
}

/*.small_card .card-title{*/
    /*font-size: 18px;*/
    /*height: 60px;*/
/*}*/

/*.-min-ago {*/
    /*width: 52px;*/
    /*height: 13px;*/
    /*font: 12px BahijTheSansArabic-Plain;*/
    /*text-align: left;*/
    /*font-weight: bold;*/
    /*color: #cccccc;*/
    /*margin: 10px 0px;*/
/*}*/

.card-title {
    font: 22px BahijTheSansArabic-Plain;
    font-weight: bold;
    height: 70px;
    overflow: hidden;
    text-align: left;
    color: #6b478f;
}

.card-text p{
    font: 14px BahijTheSansArabic-ExtraLight;
    font-weight: bold;
    height: 150px;
    overflow: hidden;
    line-height: 19px;
    text-align: left;
    color: #cccccc;
}

.feature_card_title p, .feature_card_text p, .feature_card_share p{
    text-align: center;
    padding-top: 10px;

}

.feature_card_title{
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 0;
}

.feature_card_text{
    height: 65px;
    overflow: hidden;
}

.advertise_card{
    width: 92.5%;
    height: 260px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.06);
    align-items: center;
}

.share-icon-c{
    color: #cccccc;
    font-size: 12px;
}

.share-icon-c:hover , .share-icon-c:active , .share-icon-c:focus , .sing:active , .sing:hover , .sing:focus{
    color: #6b478f;
    text-decoration: none;
}

/*.more-icons{*/
    /*position: relative;*/
/*}*/

/*.read_more{*/
    /*color: #cccccc;*/
    /*font: 14px BahijTheSansArabic-Plain;*/
    /*position: absolute;*/
    /*right: 0;*/
/*}*/

/*.read_more:hover{*/
    /*color: #cccccc;*/
/*}*/

/*.arrow{*/
    /*font-size:100%;*/
    /*color:#6b478f;*/
/*}*/

.title_bar{
    position: relative;
}

.all_page a{
    position: absolute;
    top: 45%;
    right: 15px;
    font: 14px BahijTheSansArabic-Plain;
    font-weight: bold;
    color: #6b478f;
}

.backgrounds{
    background-color: #efefef;
}

.hey_img{
    position: relative;
    padding: 0 !important;
}
.section_card_hover{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(107, 71, 143, 0.7);
}

.section_card_container:hover .section_card_hover{
    display: block;
}

.section_card_details{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.hover_title{
    font: 12px BahijTheSansArabic-Plain;
    height: 10px;
    margin-bottom: 15px;
}

.hover_text{
    font: 16px BahijTheSansArabic-Plain;
    height: 50px;
    overflow: hidden;
}

.advertise{
    background-color: #efefef;
    color: #6b478f;
    /*font: 14px BahijTheSansArabic-Plain;*/
    /*font-weight: bold;*/
    /*height: 215px;*/
    /*width: 195px;*/
    width: 90%;
    height: 90%;
    align-self: center;
    margin: auto;
    position: relative;
    align-items: center;
    top: 5%;
    bottom: auto;
}

.advertise-font{
    font: 16px BahijTheSansArabic-Plain;
    font-weight: bold;
    color: #6b478f;
    position: relative;
    text-align: center;
    top: 46%;
}

.advertise p{
    text-align: center;
    padding-top: 80px;
}

/*.news_card{*/
    /*margin-bottom: 25px;*/
/*}*/

.profile{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #6b478f;
    color: white;
    display: inline-block;
    padding: 0 20px 0 20px;
    margin: 20px 0;
}

.profile_tag_card{
    border: solid 1px rgba(0, 0, 0, 0.06);
    max-width: 250px;
    padding: 0;
    height: 354px;
}

.profile_tag_card .card-title{
    font-size: 18px;
    height: 60px;
}

.profile_tag_card_details{
    padding: 0 25px;
    text-align: center;
}
.hey{
    padding: 0 !important;
}

.first_row_padding .card-padding , .second_row_padding .card-padding{
    padding: 0 0 0 30px;
    width: 95%;
}

.first_row_padding{
    padding-bottom: 10px;
    width: 95%;
}

.second_row_padding{
    padding-top: 10px;
    width: 95%;
}

.sectionImgStyle{
    width: 100%;
    height: 100%;
}

/*****************Video slider start*******************/
/*.owl-item{*/
    /*height: 400px;*/
/*}*/
/*.Video-slider{*/
    /*margin-top: 10px;*/
    /*width: 100%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/
/*.video-slide{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: relative;*/
    /*background-position: top;*/
/*}*/
/*.Video-slider .video-slide .video-content{*/
    /*display: none ;*/
/*}*/

/*.Video-slider .center .overlay{*/
    /*display: none;;*/
/*}*/

/*.Video-slider .video-slide .overlay{*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-color: rgba(255,255,255,0.8);*/
/*}*/

/*.Video-slider .center .video-content{*/
    /*display: block;*/
    /*background-color:rgba(107,71,143,0.8);*/
    /*color: white;*/
    /*padding: 20px; !* Some padding *!*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*width: auto;*/
    /*height: 100px;*/
    /*position: absolute;*/
    /*font-size: 15px;*/
    /*font-weight: bold;*/

/*}*/

/*.Video-slider .center .video-content img{*/
    /*display: inline-block;*/
    /*width: 50px !important;*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*top: 30px;*/

/*}*/
/*.Video-slider .center .video-content span{*/
    /*width: 80%;*/
    /*display: inline-block;*/
    /*height:70%;*/
    /*overflow:  hidden;*/
/*}*/

/*.owl-prev{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 10%*/
/*}*/
/*.owl-next{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*right: 10%;*/
/*}*/

/*.owl-next span , .owl-prev span{*/
    /*z-index: 99999;*/
    /*font-size: 24px;*/
    /*font-weight: normal;*/
    /*color: #cccccccc;*/
    /*background: #6b478f;*/
    /*padding: 0px 10px;*/
    /*border-radius: 24px;*/
/*}*/

/*****************Video slider end*********************/