<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="../../css/header_aside.css">
    <link rel="stylesheet" href="../../css/blogs/blogs.css">
    <title>Document</title>
</head>

<body>
    <nav class="row">
        <img class="col-1" src="../../img/noon white.png" alt="noon logo">
        <label class="col-9 welcome" for="welcome message">Welcome Noon admin panel</label>
        <div class="col-2 side-nav-items">
            <button>
                <i class="fa fa-search"></i>
            </button>
            <a href="#">Logout</a>
        </div>
    </nav>
    <aside class="fl">
        <ul>

            <li class="outter_li">
                <a href="#">Blogs</a>
                <ul class="inner">

                    <li class="inner_li">
                        <a href="#">Posts</a>
                    </li>


                    <li class="inner_li">
                        <a href="#">Features</a>
                    </li>


                    <li class="inner_li">
                        <a href="#">Photos</a>
                    </li>


                    <li class="inner_li">
                        <a href="#">Magazines</a>
                    </li>

                </ul>
            </li>


            <li class="outter_li">
                <a href="#">Champions Profile</a>
            </li>


            <li class="outter_li">
                <a href="#">Videos</a>
            </li>


            <li class="outter_li">
                <a href="#">Users</a>
            </li>


            <li class="outter_li">
                <a href="#">Contact Us</a>
                <ul class="inner">

                    <li class="inner_li">
                        <a href="#">Main contact</a>
                    </li>


                    <li class="inner_li">
                        <a href="#">Offices</a>
                    </li>

                </ul>
            </li>


            <li class="outter_li">
                <a href="#">About Us</a>
            </li>

        </ul>
    </aside>
    <section class="path">
        <a href="#">Main</a> -
        <a href="#">posts</a>
    </section>
    <section class="body">
        <div class="row">
            <div class="col-12">
                <label for="category" class="edit-form-title">Football</label>
                <hr>
            </div>
            <div class="card col-3">
                <img class="card-img-top" src="../../img/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn purple-btn">Edit</a>
                    <a href="#" class="btn pink-btn">Show</a>
                </div>
            </div>
            <div class="card col-3">
                <img class="card-img-top" src="../../img/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn purple-btn">Edit</a>
                    <a href="#" class="btn pink-btn">Show</a>
                </div>
            </div>
            <div class="card col-3">
                <img class="card-img-top" src="../../img/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn purple-btn">Edit</a>
                    <a href="#" class="btn pink-btn">Show</a>
                </div>
            </div>
            <div class="card col-3">
                <img class="card-img-top" src="../../img/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn purple-btn">Edit</a>
                    <a href="#" class="btn pink-btn">Show</a>
                </div>
            </div>
        </div>

    </section>

    <footer>
        @copyright Mustafa El Menshawy
    </footer>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/aside.js"></script>
</body>

</html>