<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="../../css/header_aside.css">
    <title>Document</title>
</head>

<body>
    <nav class="row">
        <img class="col-1" src="../../img/noon white.png" alt="noon logo">
        <label class="col-9 welcome" for="welcome message">Welcome Noon admin panel</label>
        <div class="col-2 side-nav-items">
            <button>
                <i class="fa fa-search"></i>
            </button>
            <a href="#">Logout</a>
        </div>
    </nav>
    <aside class="fl">
        <ul>

            <li class="outter_li">
                <a href="#">Blogs</a>
                <ul class="inner">

                    <li class="inner_li">
                        <a href="#">Posts</a>
                    </li>


                    <li class="inner_li">
                        <a href="#">Features</a>
                    </li>


                    <li class="inner_li">
                        <a href="#">Photos</a>
                    </li>


                    <li class="inner_li">
                        <a href="#">Magazines</a>
                    </li>

                </ul>
            </li>


            <li class="outter_li">
                <a href="#">Champions Profile</a>
            </li>


            <li class="outter_li">
                <a href="#">Videos</a>
            </li>


            <li class="outter_li">
                <a href="#">Users</a>
            </li>


            <li class="outter_li">
                <a href="#">Contact Us</a>
                <ul class="inner">

                    <li class="inner_li">
                        <a href="#">Main contact</a>
                    </li>


                    <li class="inner_li">
                        <a href="#">Offices</a>
                    </li>

                </ul>
            </li>


            <li class="outter_li">
                <a href="#">About Us</a>
            </li>

        </ul>
    </aside>
    <section class="path">
        <a href="#">Main</a> -
        <a href="#">Offices</a>
    </section>
    <section class="body">
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Country</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Show</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Egypt</td>
                        <td>egypt_noon@noon.com</td>
                        <td>
                            <button type="button" class="btn purple-btn" data-toggle="modal" data-target="#Edit">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn pink-btn" data-toggle="modal" data-target="#Delete">Delete</button>
                        </td>
                        <td>
                            <input type="checkbox" name="show">
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Moroco</td>
                        <td>moroco_nooon.com</td>
                        <td>
                            <button type="button" class="btn purple-btn" data-toggle="modal" data-target="#Edit">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn pink-btn data-toggle="modal" data-target="#Delete">Delete</button>
                        </td>
                        <td>
                            <input type="checkbox" name="show">
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>UK</td>
                        <td>uk_noon@noon.com</td>
                        <td>
                            <button type="button" class="btn purple-btn" data-toggle="modal" data-target="#Edit">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn pink-btn" data-toggle="modal" data-target="#Delete">Delete</button>
                        </td>
                        <td>
                            <input type="checkbox" name="show">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" style="float: right" class="btn pink-btn">Add Offices</button>
    </section>
    <!-- Delet Modal -->
    <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to Delete this office ?!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Country</label>
                            <input type="email" class="form-control" placeholder="Country">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">E-mail</label>
                            <input type="password" class="form-control"  placeholder="E-mail">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        @copyright Mustafa El Menshawy
    </footer>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/aside.js"></script>
</body>

</html>