<!--
  - Mostafa El Menshawy
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/Global/navbar.css">
    <link rel="stylesheet" href="../../css/Global/font.css">
    <link rel="stylesheet" href="../../css/Global/footer.css">
    <link rel="stylesheet" href="../../css/contact_Us/Contact_Us.css">
</head>

<body>
<!-------------------------------------------Header Start------------------------------------------------------------------------->
<div class="header-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-9 col-sm-3 offset-sm-9 ">
                <label class="date">Tue 11:04 PM</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12" style="height: 40px;">
                <img src="../../img/Global/navbar-logo.jpg">
            </div>
            <div class="col-md-4 offset-md-2 offset-sm-12 flex-container">
                <div class="row search-div">
                    <div class="search">Search</div>
                    <div><input class="search-part" name="search" ></div>
                    <div><button class="search-btn" type="submit"><i class="fa fa-search search-icon"></i></button></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-8">
                <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus mr-1"></a>
                <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                <a href="#" class="share-icon-c share fa fa-ellipsis-h"></a>
                <a href="#" class="share-icon-c share sing">Sign Up</a>
                <span class="vertical-line"></span>
                <a href="#" class="share-icon-c share sing">Login</a>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------Header END------------------------------------------------------------------------------->
<!-------------------------------------------Navbar Start------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark customized-navbar">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../../views/Home/Homepage.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sports
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-submenu dd1-padding">
                            <a class="nested-list-link" tabindex="-1" href="#" >Football<span class="caret"></span></a>

                            <ul class="dropdown-menu second-dropdown">
                                <li tabindex="-1" class="my-sport">Football</li>
                                <li class="dropdown-submenu"><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>

                                    <ul class="dropdown-menu posts-dropdown">
                                        <li class="post-li">
                                            <div class="row">
                                                <div class="card-padding col-md-6 col-sm-12 col-overwritting">
                                                    <div class = "section_card small_card">
                                                        <img class="section_card_img"
                                                             src="../../img/media/little-girl.png"
                                                             srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"/>
                                                        <div class ="-min-ago">1 min ago</div>
                                                        <div class ="section-card-title">
                                                            Lorem Ipsum is simply dummy text of
                                                        </div>
                                                        <div class="more">
                                                            <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                                                            <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                                                            <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                                                            <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
                                                            <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                                                            <a href="../../views/PostDetails/PostDetails.html" class="read_more">Read More &rarr;</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-padding col-md-6 col-sm-12" >
                                                    <div class = "section_card small_card"  >
                                                        <img class="section_card_img"
                                                             src="../../img/media/little-girl.png"
                                                             srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"/>
                                                        <div class ="-min-ago">1 min ago</div>
                                                        <div class ="section-card-title">
                                                            Lorem Ipsum is simply dummy text of
                                                        </div>
                                                        <div class="more">
                                                            <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                                                            <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                                                            <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                                                            <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
                                                            <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                                                            <a href="../../views/PostDetails/PostDetails.html" class="read_more">Read More &rarr;</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>

                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <ul class="dropdown-menu posts-dropdown">
                                        <li class="post-li">
                                            <div class="row">
                                                <div class="card-padding col-md-6 col-sm-12 col-overwritting">
                                                    <div class = "section_card small_card">
                                                        <img class="section_card_img"
                                                             src="../../img/media/little-girl.png"
                                                             srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"/>
                                                        <div class ="-min-ago">1 min ago</div>
                                                        <div class ="section-card-title">
                                                            Lorem Ipsum is simply dummy text of
                                                        </div>
                                                        <div class="more">
                                                            <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                                                            <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                                                            <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                                                            <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
                                                            <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                                                            <a href="../../views/PostDetails/PostDetails.html" class="read_more">Read More &rarr;</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-padding col-md-6 col-sm-12" >
                                                    <div class = "section_card small_card"  >
                                                        <img class="section_card_img"
                                                             src="../../img/media/little-girl.png"
                                                             srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"/>
                                                        <div class ="-min-ago">1 min ago</div>
                                                        <div class ="section-card-title">
                                                            Lorem Ipsum is simply dummy text of
                                                        </div>
                                                        <div class="more">
                                                            <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                                                            <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                                                            <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                                                            <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
                                                            <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                                                            <a href="../../views/PostDetails/PostDetails.html" class="read_more">Read More &rarr;</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                            </ul>

                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-submenu">
                            <a class="nested-list-link" tabindex="-1" href="#">Basketball<span class="caret"></span></a>

                            <ul class="dropdown-menu second-dropdown">
                                <li tabindex="-1" class="my-sport">Basketball</li>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                            </ul>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-submenu" >
                            <a class="nested-list-link" tabindex="-1" href="#">Vollyball<span class="caret"></span></a>
                            <ul class="dropdown-menu second-dropdown">
                                <li tabindex="-1" class="my-sport">Vollyball</li>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                            </ul>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-submenu">
                            <a class="nested-list-link" tabindex="-1" href="#">Tennis<span class="caret"></span></a>
                            <ul class="dropdown-menu second-dropdown">
                                <li tabindex="-1" class="my-sport">Tennis</li>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                            </ul>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-submenu" >
                            <a class="nested-list-link" tabindex="-1" href="#">Swimming<span class="caret"></span></a>
                            <ul class="dropdown-menu second-dropdown">
                                <li tabindex="-1" class="my-sport">Swimming</li>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                            </ul>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-submenu" >
                            <a class="nested-list-link" tabindex="-1" href="#">Comabt Sports<span class="caret"></span></a>
                            <ul class="dropdown-menu second-dropdown">
                                <li tabindex="-1" class="my-sport">Combat Sports</li>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                            </ul>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-submenu">
                            <a class="nested-list-link" tabindex="-1" href="#">Individual Sports<span class="caret"></span></a>
                            <ul class="dropdown-menu second-dropdown">
                                <li tabindex="-1" class="my-sport">Individual Sports</li>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a tabindex="-1" href="#" class="country-1"><img class="country" src="../../img/Global/Emar.png">Emirates</a>
                                    <a tabindex="-1" href="#" class="country-2"><img class="country" src="../../img/Global/bahrin.jpg">Bahrin</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Articles</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../../views/Media/media.html">Images</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../../views/Media/media.html">Videos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Magazines</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item shop" ><a class="shop" href="#"><i class="fa fa-shopping-bag"></i>&nbsp;Shop</a></li>
                <li class="nav-item"><a href="../../views/LiveStreaming/LiveStreaming.html" class="liveStream"><span ><i class="fa fa-signal"></i>&nbsp;LiveStream</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-------------------------------------------Navbar END------------------------------------------------------------------------------->
    <section class="body container">
        <!-- ______________________________contact info Start______________________________ -->
        <section class="contact row">
            <div class="contact_us col-lg-4 col-md-6 col-sm-6">
                <h2>
                    <strong>Contact</strong> Us
                </h2>
            </div>

            <div class="e_mail col-lg-4 col-md-6 col-sm-6">
                <div class="layer_1">
                    <h2>E-Mail</h2>
                    <div class="content">
                        <i>Noon Magazine</i>
                        <br>
                        <label for="hotLine">Hot-line:
                            <i>113147</i>
                        </label>
                        <br>
                        <i>Egypt.Cairo</i>
                        <br>
                        <label for="mail">Mail:
                            <i>info@noonsport</i>
                        </label>
                        <br>
                        <label for="phone">Phone:
                            <i>+02 23958865</i>
                        </label>
                        <br>
                    </div>
                </div>
            </div>

            <div class="our_offices col-lg-4 col-md-6 col-sm-8">
                <div class="layer_1">
                    <h2>Our Offices</h2>
                    <ul>
                        <li>
                            <strong>Egypt:</strong>
                            <i> egypt_noon@noonsport.com</i>
                        </li>
                        <li>
                            <strong>Misr:</strong>
                            <i> misr_noon@noonsport.com</i>
                        </li>
                        <li>
                            <strong>emirates:</strong>
                            <i> emirate_noon@noonsport.com</i>
                        </li>
                        <li>
                            <strong>kuwait:</strong>
                            <i> kuwait_noon@noonsport.com</i>
                        </li>
                        <li>
                            <strong>Amsterdam:</strong>
                            <i> amsterdam_noon@noonsport.com</i>
                        </li>
                        <li>
                            <strong>America:</strong>
                            <i> america_noon@noonsport.com</i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear_fix"></div>
        </section>
        <!-- ______________________________contact info End______________________________ -->

        <!-- ______________________________contact form Start______________________________ -->
        <section class="row send_form">
            <div class="form col-lg-5 col-md-8 col-sm-12 col-12">
                <form action="">
                    <div class="custom_input">
                        <label for="name">Name</label>
                        <input type="text" required>
                    </div>
                    <div class="custom_input">
                        <label for="emal">E-mail</label>
                        <input type="text" required>
                    </div>
                    <p for="">Message</p>
                    <textarea name="" id="" cols="40" rows="6" placeholder="Write your message her..." required></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
        </section>
        <!-- ______________________________contact from End______________________________ -->

        <!-- ______________________________Location Start______________________________ -->
        <section class=" location">
            <div class="dropdown show">
                <button class="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chose your country
                    <i class="fal fa-angle-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Egypt</a>
                    <a class="dropdown-item" href="#">emirates</a>
                    <a class="dropdown-item" href="#">kuwait</a>
                </div>
            </div>
            <div id="map"></div>
            <div class="position-details row justify-content-between">
                <div class="detils col-lg-3 col-md-3 col-sm-5 col-5 align-self-end">
                    <h2>Egypt</h2>
                    <div class="content">
                        <i>Noon magazine</i>
                        <br>
                        <label for="hotLine">Hot-line:
                            <i>113147</i>
                        </label>
                        <br>
                        <i>Egypt.Cairo</i>
                        <br>
                        <label for="mail">Mail:
                            <i>info@noonsport</i>
                        </label>
                        <br>
                        <label for="phone">Phone:
                            <i>+02 23958865</i>
                        </label>
                        <br>
                    </div>
                </div>
                <div class="location_on_map col-lg-2 col-md-3 col-sm-4 col-4 col-3">
                    <h2>
                        <Strong>Location</Strong>
                        <br> on map</h2>
                </div>
            </div>
        </section>
        <!-- ______________________________Location End______________________________ -->
    </section>

    <!-------------------------------------------Footer Start---------------------------------------------->

    <!--Footer-->
    <footer class="page-footer customized-footer">

        <!--Footer Links-->
        <div class="container text-center">
            <div class="row">
                <!--First column-->
                <div class="col-md-3 col-sm-12">
                    <img class="img-div" src="../../img/Global/footer-logo.png"/>
                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-md-1 col-sm-12">
                    <h5 class="home">Home</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="sport-item" href="../../views/Section_Details/section.html">Football</a>
                        </li>
                        <li>
                            <a class="sport-item" href="../../views/Section_Details/section.html">Basketball</a>
                        </li>
                        <li>
                            <a class="sport-item" href="../../views/Section_Details/section.html">Swimming</a>
                        </li>
                        <li>
                            <a class="sport-item" href="../../views/Section_Details/section.html">Volleyball</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div class="col-md-2 col-sm-12">
                    <ul class="list-unstyled second-column">
                        <li>
                            <a class="sport-item" href="../../views/Section_Details/section.html">Tennis</a>
                        </li>
                        <li>
                            <a class="sport-item" href="../../views/Section_Details/section.html">Combat Sports</a>
                        </li>
                        <li>
                            <a class="sport-item" href="../../views/Section_Details/section.html">Individual Sport</a>
                        </li>
                    </ul>
                </div>
                <!--third column-->

                <!--Third column-->
                <div class="col-md-3 col-sm-12">
                    <h5 class="follow">Follow us</h5>

                    <ul class="list-unstyled">

                        <li>
                            <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                            <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                            <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                            <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
                            <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                        </li>
                        <li>

                            <input class="subscribe-area" type="text" name="Subscribe" placeholder=" Your email address" />
                            <button class="subscribe-btn">
                                Subscribe
                            </button>
                        </li>
                    </ul>

                </div>
                <!--third column-->

                <!--Fourth column-->
                <div class="col-md-1 col-sm-12">
                    <h5 class="about-us">About_Us</h5>
                    <ul class="list-unstyled">

                        <li>
                            <a href="../../views/about_us/about_us.html" class="about-item">Vision</a>
                        </li>
                        <li>
                            <a href="../../views/about_us/about_us.html" class="about-item">Mission</a>
                        </li>
                        <li>
                            <a href="../../views/Contact_Us/Contact_Us.html" class="about-item">Contact</a>
                        </li>

                    </ul>
                </div>
                <!--Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright copyright">
            Copyright© 2018 FCI-STUDENTS. All rights reserved

        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    <!-------------------------------------------Footer END---------------------------------------------------------------------------->



    <script src="../../js/Global/jquery-3.3.1.min.js"></script>
    <script src="../../js/Global/popper.min.js"></script>
    <script src="../../js/Global/bootstrap.min.js"></script>
    <script src="../../js/contact_us/contact_us.js"></script>
    <script src="../../js/contact_us/map.js"></script>
    <script src="../../js/Global/navbar-dropdown.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1eFlVNsu2I6eohodBGQyKcHpRJMFZUT0&callback=initMap">
    </script>


</body>

</html>
