<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1 , shrink-to-fit=no">
    <!-----This meta is writtern for enabling Responsive Design-->
    <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/Global/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/Global/navbar.css">
    <link rel="stylesheet" href="../../css/media/media.css">
    <title>Media</title>
</head>
<body>
    <!-------------------------------------------Header Start------------------------------------------------------------------------->
    <div class="header-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 offset-md-9 col-sm-3 offset-sm-9 ">
                    <label class="date">Tue 11:04 PM</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12" style="height: 40px;">
                    <img src="../../img/Global/navbar-logo.jpg">
                </div>
                <div class="col-md-4 offset-md-2 offset-sm-12 flex-container">
                    <div class="row search-div">
                        <div class="search">Search</div>
                        <div><input class="search-part" name="search" ></div>
                        <div><button class="search-btn" type="submit"><i class="fa fa-search search-icon"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-8">
                    <a href="#" class="share-icon-c share fa fa-facebook"></a>
                    <a href="#" class="share-icon-c share fa fa-twitter"></a>
                    <a href="#" class="share-icon-c share fa fa-instagram"></a>
                    <a href="#" class="share-icon-c fa fa-google-plus-g"></a>
                    <a href="#" class="share-icon-c share fa fa-youtube"></a>
                    <a href="#" class="share-icon-c share fa fa-ellipsis-h"></a>
                    <a href="#" class="share-icon-c share sing">Sign Up</a>
                    <span class="vertical-line"></span>
                    <a href="#" class="share-icon-c share sing">Login</a>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------Header END--------------------------------------------------------------------------->

    <!-------------------------------------------Navbar Start------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark customized-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sports
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Images</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Videos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Magazines</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item shop" ><a class="shop" href="#"><i class="fa fa-shopping-bag"></i>&nbsp;Shop</a></li>
                    <li class="nav-item"><a href="#" class="liveStream"><span ><i class="fa fa-signal"></i>&nbsp;LiveStram</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-------------------------------------------Navbar END--------------------------------------------------------------------------->

    <!-------------------------------------------Photos Start------------------------------------------------------------------------->
    <section class="container media_card">
        <div class="section_title">
            <p>Photos</p>
        </div>

         <div class="row">
             <div id="img-card1" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card2" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card3" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card4" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card5" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card6" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card7" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card8" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card9" class="col-lg-3 col-md-4 col-sm-6 col-12 " style="display: none;">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card10" class="col-lg-3 col-md-4 col-sm-6 col-12 " style="display: none;">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card11" class="col-lg-3 col-md-4 col-sm-6 col-12 " style="display: none;">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="img-card12" class="col-lg-3 col-md-4 col-sm-6 col-12 " style="display: none;">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                                 <span>8/1</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>

         </div>
        <div class="row">
            <button id="photos-more"
                    onclick="document.getElementById('img-card9').style.display = 'block',
                             document.getElementById('img-card10').style.display = 'block',
                             document.getElementById('img-card11').style.display = 'block',
                             document.getElementById('img-card12').style.display = 'block',
                             document.getElementById('photos-more').style.display = 'none'"
                    class="btn more">More</button>
        </div>

    </section>
    <!-------------------------------------------Photos END--------------------------------------------------------------------------->

    <!-------------------------------------------Videos Start------------------------------------------------------------------------->
    <div class="videos">
        <section class="container media_card">
        <div class="section_title">
            <p>Videos</p>
        </div>

         <div class="row">
             <div id="video-card1" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
             <div class="card mb-4">
                 <div class = "media_card_container">
                     <img class="card-img-top" src="../../img/media/little-girl.png"
                          srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                          alt="little-girl">
                     <div class="media_card_hover">
                         <div class="media_card_details">
                             <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                             <span>2:00</span>
                         </div>

                     </div>

                 </div>

                 <div class="card-body">
                     <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                 </div>
             </div>
         </div>
             <div id="video-card2" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="video-card3" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="video-card4" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="video-card5" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="video-card6" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="video-card7" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="video-card8" class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="video-card9" class="col-lg-3 col-md-4 col-sm-6 col-12 " style="display: none;">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="video-card10" class="col-lg-3 col-md-4 col-sm-6 col-12 " style="display: none;">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="video-card11" class="col-lg-3 col-md-4 col-sm-6 col-12 " style="display: none;">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>
             <div id="video-card12" class="col-lg-3 col-md-4 col-sm-6 col-12 " style="display: none;">
                 <div class="card mb-4">
                     <div class = "media_card_container">
                         <img class="card-img-top" src="../../img/media/little-girl.png"
                              srcset="../../img/media/little-girl@2x.png 2x,
                                  ../../img/media/little-girl@3x.png 3x"
                              alt="little-girl">
                         <div class="media_card_hover">
                             <div class="media_card_details">
                                 <img src="../../img/media/videos.png" alt="photos" srcset="../../img/media/videos@2x.png 2x, ../../img/media/videos@3x.png 3x">
                                 <span>2:00</span>
                             </div>

                         </div>

                     </div>

                     <div class="card-body">
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                     </div>
                 </div>
             </div>

         </div>
            <div class="row">
                <button id="videos-more"
                        onclick="document.getElementById('video-card9').style.display = 'block',
                                 document.getElementById('video-card10').style.display = 'block',
                                 document.getElementById('video-card11').style.display = 'block',
                                 document.getElementById('video-card12').style.display = 'block',
                                 document.getElementById('videos-more').style.display = 'none'"
                        class="btn more">More</button>
            </div>
    </section>
    </div>
    <!-------------------------------------------Videos END--------------------------------------------------------------------------->

    </div>

    <script src="../../js/Global/jquery-3.3.1.min.js"></script>
    <script src="../../js/Global/popper.min.js"></script>
    <script src="../../js/Global/bootstrap.min.js"></script>

</body>
</html>