<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1 , shrink-to-fit=no">
    <!-----This meta is writtern for enabling Responsive Design-->
    <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/fonts/Bahij%20TheSansArabic-Plain.ttf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/Global/navbar.css">
    <link rel="stylesheet" href="../../css/media/photos.css">
    <title>media</title>
</head>
<body>
<section class="container photos">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card mb-4">
                <div class = "photo_container">
                    <img class="card-img-top" src="../../img/media/little-girl.png"
                         srcset="../../img/media/little-girl@2x.png 2x,
                             ../../img/media/little-girl@3x.png 3x"
                         alt="little-girl">
                    <div class="photo_hover">
                        <div class="photo_details">
                            <img src="../../img/media/photos.png" alt="photos" srcset="../../img/media/photos@2x.png 2x, ../../img/media/photos@3x.png 3x">
                            <span>8/1</span>
                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>

    </div>


</section>


</body>
</html>