<!-------------------------------------------Footer Start---------------------------------------------->

 <!--Footer-->
<footer class="page-footer customized-footer">

    <!--Footer Links-->
    <div class="container text-center">
        <div class="row">
            <!--First column-->
            <div class="col-md-3 col-sm-12">
                <img class="img-div" src="../../img/Global/footer-logo.png"/>
            </div>
            <!--/.First column-->
            <!--Second column-->
            <div class="col-md-1 col-sm-12">
                <h5 class="home">Home</h5>
                <ul class="list-unstyled">
                     <li>
                        <a class="sport-item" href="#">Football</a>
                    </li>
                    <li>
                        <a class="sport-item" href="#">Basketball</a>
                    </li>
                    <li>
                        <a class="sport-item" href="#">Swimming</a>
                    </li>
                    <li>
                        <a class="sport-item" href="#">Volleyball</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-2 col-sm-12">
                <ul class="list-unstyled second-column">
                     <li>
                        <a class="sport-item" href="#">Tennis</a>
                    </li>
                    <li>
                        <a class="sport-item" href="#">Combat Sports</a>
                    </li>
                    <li>
                        <a class="sport-item" href="#">Individual Sport</a>
                    </li>
                </ul>
            </div>
            <!--third column-->

                 <!--Third column-->
            <div class="col-md-3 col-sm-12">
                          <h5 class="follow">Follow us</h5>

                <ul class="list-unstyled">

                    <li>
                    <a href="#" class="sport-item fa fa-facebook"></a>
                    <a href="#" class="sport-item fa fa-twitter"></a>
                    <a href="#" class="sport-item fa fa-instagram"></a>
                    <a href="#" class="sport-item fa fa-google-plus"></a>
                    <a href="#" class="sport-item fa fa-youtube"></a>
                    </li>
                     <li>

                    <input class="subscribe-area" type="text" placeholder=" your email Address" />
                         <button class="subscribe-btn">
                            Subscribe
                         </button>
                    </li>
                </ul>

            </div>
            <!--third column-->

             <!--Fourth column-->
             <div class="col-md-1 col-sm-12">
                 <h5 class="about-us">About_Us</h5>
                <ul class="list-unstyled">

                    <li>
                    <a href="#" class="about-item">Vision</a>
                    </li>
                      <li>
                    <a href="#" class="about-item">Mission</a>
                    </li>
                      <li>
                    <a href="#" class="about-item">Contact</a>
                    </li>

                </ul>
            </div>
            <!--Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
   <!-- <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> MDBootstrap.com </a>
    </div>-->
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-------------------------------------------Footer END------------------------------------------------------------------------------>
