<!--
-mohamed khaled
-nourhan essam
-->
<!-------------------------------------------Footer Start---------------------------------------------->

 <!--Footer-->
<footer class="page-footer customized-footer">

    <!--Footer Links-->
    <div class="container text-center">
        <div class="row">
            <!--First column-->
            <div class="col-md-3 col-sm-12">
                <img class="img-div" src="../../img/Global/footer-logo.png"/>
            </div>
            <!--/.First column-->
            <!--Second column-->
            <div class="col-md-1 col-sm-12">
                <h5 class="home">Home</h5>
                <ul class="list-unstyled">
                     <li>
                        <a class="sport-item" href="../../views/Section_Details/section.html">Football</a>
                    </li>
                    <li>
                        <a class="sport-item" href="../../views/Section_Details/section.html">Basketball</a>
                    </li>
                    <li>
                        <a class="sport-item" href="../../views/Section_Details/section.html">Swimming</a>
                    </li>
                    <li>
                        <a class="sport-item" href="../../views/Section_Details/section.html">Volleyball</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-2 col-sm-12">
                <ul class="list-unstyled second-column">
                     <li>
                        <a class="sport-item" href="../../views/Section_Details/section.html">Tennis</a>
                    </li>
                    <li>
                        <a class="sport-item" href="../../views/Section_Details/section.html">Combat Sports</a>
                    </li>
                    <li>
                        <a class="sport-item" href="../../views/Section_Details/section.html">Individual Sport</a>
                    </li>
                </ul>
            </div>
            <!--third column-->

                 <!--Third column-->
            <div class="col-md-3 col-sm-12">
                          <h5 class="follow">Follow us</h5>

                <ul class="list-unstyled">

                    <li>
                     <a href="https://www.facebook.com/" class="share-icon-c share fa fa-facebook"></a>
                     <a href="https://www.twitter.com/" class="share-icon-c share fa fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="share-icon-c share fa fa-instagram"></a>
                                <a href="https://www.gmail.com/" class="share-icon-c fa fa-google-plus"></a>
                                <a href="https://www.youtube.com/" class="share-icon-c share fa fa-youtube"></a>
                    </li>
                     <li>

                    <input class="subscribe-area" type="text" name="Subscribe" placeholder=" Your email address" />
                         <button class="subscribe-btn">
                            Subscribe
                         </button>
                    </li>
                </ul>

            </div>
            <!--third column-->

             <!--Fourth column-->
             <div class="col-md-1 col-sm-12">
                 <h5 class="about-us">About_Us</h5>
                <ul class="list-unstyled">

                    <li>
                    <a href="../../views/about_us/about_us.html" class="about-item">Vision</a>
                    </li>
                      <li>
                    <a href="../../views/about_us/about_us.html" class="about-item">Mission</a>
                    </li>
                      <li>
                    <a href="../../views/Contact_Us/Contact_Us.html" class="about-item">Contact</a>
                    </li>

                </ul>
            </div>
            <!--Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
   <div class="footer-copyright copyright">
         Copyright© 2018 FCI-STUDENTS. All rights reserved

    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-------------------------------------------Footer END---------------------------------------------------------------------------->
