*{
    padding: 0;
    margin: 0;
}
.fl{
    float: left;
}
.clear_fix{
    clear: both;
}
body{
    overflow-x: hidden;
}
nav{
    background:  #6b478f;
    padding: 1% 2%;
    .welcome{
        font-size:18px;
        font-weight: 500;
        color: #FFF;
    }
    img{
        height: 35px;
    }
    label{
        text-align: center;
    }
    .side-nav-items , .side-nav-items a{
        font-size:18px;
        font-weight: 600;
        color: #FFF;
    }
    .side-nav-items:hover , .side-nav-items a:hover{
       text-decoration: none;
       color: #e81377;
    }
    div{
        text-align: right;
        button{
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            margin-right: 3%;
        }
        a:hover{
            outline: none;
        }
    }
}
aside{
    width: 24%; 
    padding: 2% 2%;
    ul{
        list-style: none;
        background: #6b478f;
        li{
            a{
                color: #FFF;
                font-size: 20px;
                font-weight: 500;
            }
            padding-bottom: 3%;
            padding: 0 8%;
            border-bottom: 1px solid silver;
        }
        a:hover{
           color:#e81377;
           text-decoration: none;
        //    background: #6b478f;
        }
    }
    .inner{
        width: 109%;
    }
}
footer{
    position: fixed;
    background:  #6b478f;
    color: rgba(0, 0, 0, 0.368627);
    text-align: center;
    bottom: 0;
    width: 100%;
}
.path{
    margin-top:1%;
}
.body{
    margin-top: 3%;
    margin-right: 4%; 
    margin-bottom: 20%;
}
hr{
    margin-top: 0 ;
}
