*{
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.fl{
    float: left;
}
.clear_fix{
    clear: both;
}
body{
    overflow-x: hidden;
}
nav{
    background:  #6b478f;
    padding: 2% 1%;
    img{
        height: 35px;
    }
    label{
        text-align: center;
    }
    .fa-search {
        text-decoration: none;
        color: #FFF;
      }
    .side-nav-items a{
        font-size:18px;
        font-weight: 600;
        color: #FFF;
    }
     .side-nav-items a:hover{
       text-decoration: none;
       color: #e81377;
    }
    .welcome{
        font-size: 18px;
        font-weight: 500;
        color: #FFF;
    
    }

    div{
        text-align: right;
        button{
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            margin-right: 3%;
        }
        a:hover{
            outline: none;
        }
    }
}
aside{
    width: 24%; 
    padding: 2% 2%;
    ul{
        list-style: none;
        background: #6b478f;
        li{
            a{
                color: #FFF;
                font-size: 22px;
                font-weight: 600;
            }
            padding-bottom: 3%;
            padding: 5% 8%;
            border-bottom: 1px solid silver;
        }
        a:hover{
           color:#e81377;
           text-decoration: none;
        //    background: #6b478f;
        }
    }
    .inner{
        width: 109%;
    }
}
.review{
    font-size: 37px;
    font-weight: bold;
    color:#e81377;
  }
footer{
    position: fixed;
    background:  #6b478f;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;


}
.path{
    a{
        margin-top:1%;
        font-size: 24px;
        font-weight: bold;
        color:#e81377;
        text-decoration: none;
    }
    font-size: 24px;
    font-weight: bold;
    color:#e81377;

}
.body{
    margin-top: 3%;
    margin-right: 4%; 
    margin-bottom: 20%;
}
.pink-btn{
    background:#e81377; 
    color: #FFF;
}
.purple-btn{
    background:#6b478f; 
    color: #FFF;
}
.edit-form-title{
    color: #6b478f;
    font-size: 20px;
    font-weight: bold;
}
hr{
    margin-top: 0 ;
}
