.body{
    header{
        text-align: center;
        margin-bottom: 5%;
        margin-top: 2%
    }
    .card{
        text-align: center;
        height: 120px;
        i{
            margin-top: 10%;
            margin-bottom: 2%;
        }
    }
}