.photos .card{
    border: none;
}
.photos .card-img-top{
    border-radius: 0;
    height: 175px;
}
.photos{
    border-top: 3px solid rgba(0,0,0,0.7);
}
.photos .card-body{
    padding: 0;
}
.photos .card-text{
    font-family: BahijTheSansArabic-Plain, serif;
    font-size: 18px;
    color: #6b478f;
    text-align: left;
    height: 50px;
    overflow: hidden;
}
.photo_container{
    position: relative;
}
.photo_hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(107, 71, 143,0.7);
}
.photo_container:hover .photo_hover{
    display: block;
}
.photo_details{
    margin: 16% 40%;
    text-align: center;
    color: #FFF;
}
